/*   NEW STYLES     /////*/

#topbar {
	height:4px;
	background:#fff;
	width:100%;
}

#moz-logo {
	position:absolute;
	top:40px;
}

#top-bg {
	background:#3b4651;
	background: -moz-linear-gradient(top, #3b4651, #1a222b); 
	width:100%;
	height:500px;
	position:absolute;
	z-index:-2;
}

#bottom-bg {
	background:#ebebeb;
	width:100%;
	height:500px;
	position:absolute;
	z-index:-3;
}

#big-container {
	width:990px;
	height:100%;
	background:#fff;
	background: -moz-linear-gradient(top, #f5f5f5, #ffffff); 
	margin: 200px auto;
	border:1px solid #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	border-radius:4px;
}


#visualization {
	margin-top:-10px;
	padding-top:10px;
	background:#fff;
	border-radius:4px;
	height:410px;
	border:1px solid #e8e8e8;
	box-shadow: 0px 1px 1px rgba(0,0,0,.05);
}

#control {
	/*background:#ccc;*/
	width:260px;
	height:55px;
	margin:10px 15px;
}

#slider-titles ul {
	margin-bottom:10px;
	padding-left:4px;
	width:270px;
}

#slider-titles li
{
	display: inline;
	list-style-type: none;
	padding-right: 0px;
	text-transform:uppercase;
	font-size:10px;
	color:#67a7d0;
}

#slider-titles .off {
	padding-left:6px;
}

#slider-titles .coarse {
	padding-left:2px;
}

#slider-titles .fine {
	margin-left:27px;
}

#control #slider-eye{
	float:left;
	margin-top:-3px;
	margin-left:3px;
}

#control #slider-eye img{
	width:20px;
	height:14px;
	opacity:.5;
}

#control #slider
{
	width:220px;
	z-index:9;
	margin-left:40px;
}

#slider-hashmarks {

}

#slider-hashmarks #hash-1{
	border-right:1px solid #7bb4e4;
	height:21px;
	float:left;
	position:relative;
	left:91px;
	top:-15px;
	z-index:8;
}

#slider-hashmarks #hash-2{
	border-right:1px solid #7bb4e4;
	height:21px;
	float:right;
	position:relative;
	left:-71px;
	top:-15px;
	z-index:8;
}

#interests-bars {
	/*background:#eee;*/
	width:260px;
	height:100%;
	margin:0 15px 0px;
}

#interests-bars #demographic {
	width:100%;
	height:31px;
	margin:10px 0px 10px 0px;
}

#interests-bars #interest-1 {
	width:100%;
	height:31px;
	margin:10px 0px 10px 0px;
}

#interests-bars #interest-2 {
	width:100%;
	height:31px;
	margin:10px 0px 10px 0px;
}

#interests-bars #interest-3 {
	width:100%;
	height:31px;
	margin:10px 0px 10px 0px;
}

#interests-bars #interest-4 {
	width:100%;
	height:31px;
	margin:10px 0px 10px 0px;
}

.icon {
	float:left;
	width:16%;
	padding:0 auto;
}

.icon img{
	margin-left:2px;
	margin-top:8px;
	width:22px;
	height:22px;
}

#interests-bars #demographic .level1 {
	background-color:#504058;
}

#interests-bars #interest-1 .level1 {
	background-color:#d23f3f;
}

#interests-bars #interest-1 .level2 {
	opacity:.1;
	background-color:#d23f3f;
}

#interests-bars #interest-1 .level3 {
	opacity:.1;
	background-color:#d23f3f;
}

#interests-bars #interest-2 .level1 {
	background-color:#064c6a;
}

#interests-bars #interest-2 .level2 {
	opacity:.1;
	background-color:#064c6a;
}

#interests-bars #interest-2 .level3 {
	opacity:.1;
	background-color:#064c6a;
}

#interests-bars #interest-3 .level1 {
	background-color:#7c5a0a;
}

#interests-bars #interest-4 .level1 {
	background-color:#2f4e11;
}

#interests-bars #interest-4 .level2 {
	opacity:.1;
	background-color:#2f4e11;
}

#interests-bars #interest-4 .level3 {
	opacity:.1;
	background-color:#2f4e11;
}


.level1 {
	float:left;
	width:28%;
	height:36px;
	background:#999;
	margin:0px 0px 0px 0px;
}

.level2 {
	float:left;
	width:28%;
	height:36px;
	background:#ccc;
	margin:0px 0px 5px 0px;
}

.level3 {
	float:left;
	width:28%;
	height:36px;
	background:#fff;
	margin:0px 0px 5px 0px;
}


/*END LEFT SIDE*/

/*RIGHT SIDE*/


#browser #contain {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}

#browser .coarse {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 1.2em;
      -moz-border-radius-topright: 1.2em;
          border-top-right-radius: 1.2em;
}


#browser {
	margin-top:20px;
	background:#fff;
	border-radius:4px;
	height:410px;
	border:1px solid #e8e8e8;
	box-shadow: 0px 1px 1px rgba(0,0,0,.05);
}

#boxes {
	background:#ccc;
	width:100%;
	height:100%;
}

#boxes .box {
	background:#fff;
	width:40px;
	height:40px;
	margin:10px;
	float:left;
}


/*END RIGHT SIDE*/


#moz-logo h1 {
	color:#24303c;
	font-weight:100;
	font-family:MetaPro-Bold;
	margin-top:25px;
	margin-bottom:0px;
}

#moz-logo h2 {
	color:#fff;
	font-weight:100;
	text-shadow: 0px -1px 1px rgba(0,0,0,1);
	margin-top:-10px;
}

#nav a {
	position:absolute;
	color:#67a7d0;
	top:175px;
	text-transform:uppercase;
	font-family: OpenSans-Light;
}

#nav img {
	width:22px;
	height:22px;
	padding-right:5px;
	margin-bottom:2px;
}

.shape-triangle {
	margin-top:-6px;
	margin-left:50px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #67a7d0;
}

.intro-txt {
	padding-top:20px;
}

#interestsdemo h3 {
	color:#484848;
	font-weight:100;
	margin-bottom:0px;
}

#content h3 {
	color:#484848;
	font-weight:100;
	margin-bottom:0px;
}

#browser {
	background-image:url('../img/sample-site.png');
}


@font-face {
	font-family: 'MetaPro-Bold';
	src: url('fonts/MetaPro-Bold.otf');
}


@font-face {
	font-family: 'OpenSans-Regular';
	src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('fonts/OpenSans-Bold.ttf');
}

/*/////*/



body {
  background: #ebebeb;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;

}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: OpenSans-Regular;
  font-weight: normal;
  font-size:22px;
  margin-bottom:0px;
}

h2 {
  padding-top: 0px;
  font-family: OpenSans-Light;
  font-size:28px;
  font-weight:100;
}

p {
  border: 0px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: left;
  font-family: Georgia;
  font-size: 14px;
  color:#8a8a8a;
}

.container_12,
.container_16,
.container_24 {
  /*background-color: #fff;*/
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container_12 {
  /*background-image: url(../img/12_col.gif);*/
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}