#mostPopWidget {
  display: none;
}
#mostPopWidget-headliner div#tabsContainer {
  left:0;
}
#mostPopWidget-headliner a.more {
  font-family: arial, helvetica, sans-serif;
  font-size:1.1em !important;
}
#mostPopWidget-headliner {
 border-bottom: 0 !important;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li,
.NYT5Style .columnGroup #mostPopWidget-headliner a.more {
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
}
.NYT5Style .columnGroup #mostPopWidget-headliner ol {
  font-family: 'nyt-cheltenham-sh', georgia, "times new roman", times, serif;
}
.NYT5Style .columnGroup #mostPopWidget-headliner a.more {
  font-size: 11px;
  line-height: 14px;
  color: #326891;
  font-weight: 500;
  margin-left: -7px;
}
.NYT5Style #mostPopWidget-headliner {
  margin-bottom: 30px;
}
.NYT5Style .columnGroup #mostPopWidget-headliner h4 {
  display: none;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs {
  background-image: url("http://www.nytimes/images/layout/dbl-rule.png");
  background-repeat: repeat-x;
  background-position-y: 4px;
  height: 28px;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li {
  background: none;
  border: 0;
  font-size: 11px;
  height: 30px;
  left: 5px;
  margin-top: 6px;
  padding: 5px 10px;
  position: relative;
  line-height: 11px;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li a {
  display: block;
  text-decoration: none;
  color: #999 !important;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li a:hover {
  border-bottom: 1px solid #ccc;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li a:before {
  content: "MOST";
  display: inline-block;
  margin-right: 4px;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li.selected {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0;
  padding-top: 8px;
  background: white;
}
.NYT5Style .ticketNetworkModule,
.NYT5Style .eventsCalendarModule,
.NYT5Style  #mostPopWidget-headliner ~ .columnGroup {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -7px;
}

.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li.selected a {
  color: #000 !important;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabs li.selected a:hover {
  border-bottom: 1px solid black;
}
.NYT5Style .columnGroup #mostPopWidget-headliner .tabContent {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.NYT5Style .columnGroup #mostPopWidget-headliner ol {;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 0;
  margin-left: 18px;
  margin-bottom: 0;
}
.NYT5Style .columnGroup #mostPopWidget-headliner ol li {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  color: #333333;
}
.NYT5Style .columnGroup #mostPopWidget-headliner  ol li a {
  font-weight: 400;
}

nav.ribbon-page-navigation {
    display: none !important;
}
.ribbon-page-navigation-headliner{
	width:25px;
	height:75px;
	margin-top:-37.5px;
	background-color:#f4f5f2;
	z-index:1000000010;
	position:fixed;
	top:50%;
	border:1px solid #e2e2e2;
	cursor:pointer
}

.ribbon-page-navigation-headliner:hover .story-heading,.ribbon-page-navigation-headliner:active .story-heading{
	text-decoration:underline
}

.ribbon-page-navigation-headliner.mobile{
	display:none;
	width:0
}

.ribbon-page-navigation-headliner.previous{
	-webkit-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
	left:0;
	border-left:none
}

.ribbon-page-navigation-headliner.previous:hover .arrow{
	border-color:transparent #666 transparent transparent
}

.ribbon-page-navigation-headliner.previous .arrow{
	left:3.5px
}

.ribbon-page-navigation-headliner.previous .story{
	right:5px
}

.ribbon-page-navigation-headliner.next{
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	right:0;
	border-right:0
}

.ribbon-page-navigation-headliner.next:hover .arrow{
	border-color:transparent transparent transparent #666
}

.ribbon-page-navigation-headliner.next .arrow{
	right:3.5px
}

.ribbon-page-navigation-headliner .arrow{
	position:absolute;
	margin-top:28.5px;
	-moz-transition:border .2s ease-in;
	-o-transition:border .2s ease-in;
	-webkit-transition:border .2s ease-in;
	transition:border .2s ease-in;
	overflow:visible;
	display:block;
	width:0;
	height:0;
	border-style:solid
}

.ribbon-page-navigation-headliner .arrow .arrow-conceal{
	position:absolute;
	top:-9px;
	display:block;
	width:0;
	height:0;
	border-style:solid
}

.ribbon-page-navigation-headliner .arrow.arrow-right{
	border-width:9px 0 9px 18px;
	border-color:transparent transparent transparent #e2e2e2;
	border-style:inset inset inset solid
}

.ribbon-page-navigation-headliner .arrow.arrow-right .arrow-conceal{
	border-width:9px 0 9px 4.5px;
	border-color:transparent transparent transparent #f3f3f3;
	border-style:inset inset inset solid;
	left:-18px
}

.ribbon-page-navigation-headliner .arrow.arrow-left{
	border-width:9px 18px 9px 0;
	border-color:transparent #e2e2e2 transparent transparent;
	border-style:inset inset inset solid
}

.ribbon-page-navigation-headliner .arrow.arrow-left .arrow-conceal{
	border-width:9px 4.5px 9px 0;
	border-color:transparent #f3f3f3 transparent transparent;
	border-style:inset inset inset solid;
	right:-18px
}

.ribbon-page-navigation-headliner .story{
	width:235px;
	position:absolute;
	padding-top:5px
}

.ribbon-page-navigation-headliner .story .thumb{
	width:65px;
	margin:0 10px 0 5px
}

.ribbon-page-navigation-headliner .story .thumb img{
	width:65px;
	height:65px
}

.ribbon-page-navigation-headliner .story.no-thumb{
	padding-left:10px
}

.ribbon-page-navigation-headliner .story .kicker{
	font-size:9px;
	font-size:.5625rem;
	line-height:12px;
	line-height:.75rem;
	font-weight:500;
	font-family:"nyt-franklin",arial,helvetica,sans-serif
}

.viewport-medium-50 .ribbon-page-navigation-headliner{
	width:35px
}

.viewport-medium-50 .ribbon-page-navigation-headliner.previous{
	left:15px
}

.viewport-medium-50 .ribbon-page-navigation-headliner.previous .arrow{
	left:8.5px
}

.viewport-medium-50 .ribbon-page-navigation-headliner.next .arrow{
	right:8.5px
}

.viewport-large-20 .ribbon-page-navigation-headliner.previous{
	left:30px
}

.ribbon-page-navigation-modal-headliner-container{
	width:auto;
	height:auto
}

.ribbon-page-navigation-modal-headliner{
	background-color:#f0f8fc;
	height:128px
}

.ribbon-page-navigation-modal-headliner .modal-pointer-down .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-down-left .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-down-right .modal-pointer-conceal{
	width:0;
	height:0;
	display:inline-block;
	border-left:14px inset transparent;
	border-right:14px inset transparent;
	border-top:14px inset transparent;
	border-bottom:14px inset transparent;
	border-top:14px solid #f0f8fc
}

.ribbon-page-navigation-modal-headliner .modal-pointer-left .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-left-top .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-left-bottom .modal-pointer-conceal{
	width:0;
	height:0;
	display:inline-block;
	border-left:14px inset transparent;
	border-right:14px inset transparent;
	border-top:14px inset transparent;
	border-bottom:14px inset transparent;
	border-right:14px solid #f0f8fc
}

.ribbon-page-navigation-modal-headliner .modal-pointer-right .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-right-top .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-right-bottom .modal-pointer-conceal{
	width:0;
	height:0;
	display:inline-block;
	border-left:14px inset transparent;
	border-right:14px inset transparent;
	border-top:14px inset transparent;
	border-bottom:14px inset transparent;
	border-left:14px solid #f0f8fc
}

.ribbon-page-navigation-modal-headliner .modal-pointer-up .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-up-left .modal-pointer-conceal,.ribbon-page-navigation-modal-headliner .modal-pointer-up-right .modal-pointer-conceal{
	width:0;
	height:0;
	display:inline-block;
	border-left:14px inset transparent;
	border-right:14px inset transparent;
	border-top:14px inset transparent;
	border-bottom:14px inset transparent;
	border-bottom:14px solid #f0f8fc
}

.ribbon-page-navigation-modal-headliner .modal-content{
	padding:28px;
	margin:0
}

.ribbon-page-navigation-modal-headliner .placeholder-button-group{
	float:left;
	clear:left;
	margin:0 10px 20px 3px
}

.ribbon-page-navigation-modal-headliner .placeholder-button{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	float:left;
	background-color:#326891;
	width:44px;
	height:44px;
	margin-right:5px
}

.ribbon-page-navigation-modal-headliner .previous{
	width:0;
	height:0;
	display:inline-block;
	border-left:7px inset transparent;
	border-right:7px inset transparent;
	border-top:3.5px inset transparent;
	border-bottom:3.5px inset transparent;
	border-right:7px solid #fff;
	margin:19px 0 0 11px
}

.ribbon-page-navigation-modal-headliner .next{
	width:0;
	height:0;
	display:inline-block;
	border-left:7px inset transparent;
	border-right:7px inset transparent;
	border-top:3.5px inset transparent;
	border-bottom:3.5px inset transparent;
	border-left:7px solid #fff;
	margin:19px 0 0 19px
}

.ribbon-page-navigation-modal-headliner h4{
	font-size:10px;
	font-size:.625rem;
	line-height:15px;
	line-height:.9375rem;
	font-weight:700;
	font-family:"nyt-franklin",arial,helvetica,sans-serif;
	color:#326891;
	text-transform:uppercase
}

.ribbon-page-navigation-modal-headliner p{
	font-size:15px;
	font-size:.9375rem;
	line-height:20px;
	line-height:1.25rem;
	font-weight:400;
	font-family:"nyt-franklin",arial,helvetica,sans-serif
}

#ribbon .news-collection, #ribbon .most-emailed-collection, #ribbon .collection-marker {
    display: none !important;
}

.marginalia.most-emailed-marginalia{
    display: none !important;
}

.marginalia.headliner-marginalia{
	display:none
}

.story+.marginalia.headliner-marginalia{
	display:block
}

.marginalia.headliner-marginalia ol{
	list-style-position:inside;
	padding:0;
	margin:0
}

.lt-ie9 .marginalia.headliner-marginalia ol{
	list-style-position:outside
}

.marginalia.headliner-marginalia ol li{
	border-top:1px solid #f3f3f3;
	padding-top:7px;
	font-size:19px;
	font-size:1.1875rem;
	line-height:19px;
	line-height:1.1875rem;
	font-weight:400;
	font-family:"nyt-cheltenham-extra-cn-bd",georgia,"times new roman",times,serif;
	position:relative;
	color:#000;
	text-align:right;
	padding:15px 280px 12px 0
}

.lt-ie10 .marginalia.headliner-marginalia ol li{
	padding-right:265px
}

.lt-ie9 .marginalia.headliner-marginalia ol li{
	padding-right:275px
}

.lt-ie8 .marginalia.headliner-marginalia ol li{
	padding-right:270px
}

.marginalia.headliner-marginalia ol li:first-child{
	border-top:0;
	padding-top:0;
	padding-top:15px
}

.marginalia.headliner-marginalia ol li .story-link{
	font-size:13px;
	font-size:.8125rem;
	line-height:16px;
	line-height:1rem;
	font-weight:400;
	font-family:"nyt-cheltenham-sh",georgia,"times new roman",times,serif;
	width:100%;
	height:46px;
	color:#326891;
	text-align:left;
	cursor:pointer;
	position:absolute;
	left:0;
	top:0
}

.marginalia.headliner-marginalia ol li .story-link .story-heading,.marginalia.headliner-marginalia ol li .story-link:hover .story-heading{
	color:#326891
}

.marginalia.headliner-marginalia ol li .story-link:hover .story-heading{
	text-decoration:underline
}

.marginalia.headliner-marginalia ol li .story,.marginalia.headliner-marginalia ol li .story-heading{
	position:relative;
	height:100%
}

.marginalia.headliner-marginalia ol li .story{
	margin-left:30px
}

.marginalia.headliner-marginalia ol li .story .story-heading{
	float:none;
	clear:none;
	margin:0;
	color:inherit;
	display:table;
	padding-right:10px;
	width:auto
}

.marginalia.headliner-marginalia ol li .story .story-heading .story-text{
	display:table-cell;
	vertical-align:middle
}

.lt-ie8 .marginalia.headliner-marginalia ol li .story .story-heading .story-text{
	display:block;
	padding-top:8px
}

.marginalia.headliner-marginalia ol li .thumb{
	float:right;
	margin:3px 0;
	width:40px
}

.lt-ie8 .marginalia.headliner-marginalia ol li .thumb{
	margin:5px 0
}
.comments-panel-opened .marginalia.headliner-marginalia ol li{
	text-align:left
}

.viewport-medium-30 .marginalia{
	float:right;
	clear:right;
	margin:0 0 45px 7px
}

.viewport-medium-30 .marginalia.headliner-marginalia{
	display:block
}

.comments-panel-opened.viewport-medium-30 .marginalia.headliner-marginalia{
	display:none
}
.format-short.viewport-medium-30 .story+.marginalia.headliner-marginalia{
	display:block
}

.comments-panel-opened.format-short.viewport-medium-30 .story+.marginalia.headliner-marginalia{
	display:none
}
