<!doctype html>
<html ng-app="aboutYou">
<head>
  <meta charset="utf-8">
  <title>Firefox for You</title>
</head>
<body ng-cloak ng-controller="vizCtrl" class="banner-visible">
  <div id="top-navbar" class="navbar-background">
    <div class="navbar-outer">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <p class="navbar-brand">INTEREST DASHBOARD</p>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="selected"><a href="#">Your Interests</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cog btn-group">
      <button type="button" class="cog-btn btn btn-default dropdown-toggle" data-toggle="dropdown">
        <div class="cog-img"></div>
      </button>
      <ul class="dropdown-menu-right dropdown-menu" role="menu">
        <li><a href="https://www.mozilla.org/en-US/dnt/">About this page</a></li>
        <li class="divider"></li>
        <li ng-click="processHistory()" ><a href="#">Recompute history</a></li>
        <li class="divider"></li>
        <li ng-click="generateDebugReport()"><a href="#">Generate debug report</a></li>
      </ul>
    </div>
  </div>

  <div id="incomplete-banner">
    <div id="incomplete-banner-img">
      <div id="logo"></div>
    </div>
    <div id="incomplete-banner-text">
      <div class="large-white-text">
          <div class="regular">Your Interest Profile won't be complete until</div>
          <div class="bold">{{monthXX}}</div>
      </div>
      <div class="description-text">
          <div class="lead-in">Firefox needs 30 days of browsing history</div>
          <div class="normal">to show your complete interest profile. Until then, things may look incomplete (or even a little wonky).</div> 
      </div>
    </div>
  </div>
  <div id="visual-header-overlay">
    <div class="visual-overlay-content">
      <div class="analyzing-title">Analyzing...</div>
      <div class="visual-header-text-overlay">{{percentProcessed}}</div>
      <div class="progress">
        <div id="progressBar" class="progress-bar" style="width: 0%;"></div>
      </div>
      <div class="analyzing-blurb">Firefox is generating an overview of your interests based on your recent browsing history... This may take several moments!</div>
    </div>
  </div>
  <div class="row-fluid visual-header">
    <div class="col-md-2">
      <svg id="interestPie" style="height: 390px; width: 390px;"></svg>
    </div>
    <div class="col-md-9">
      <div class="graph-header">{{graphHeader}}</div>
      <div class="past-x-days">{{pastXDays}}</div>
      <div class='back'> < Back</div>
      <div id="areaGraphDiv">
        <div id="percentComplete" ng-hide="isComplete">
          <div id="percentage">{{percentage}}%</div>
          <div id="complete">complete</div>
        </div>
        <svg id="areaGraph"></svg>
      </div>
      <div class="graphMarkers"></div>
      <div class="mostRecentMarker" ng-hide="isAtAnEnd"></div>
      <div class="graphUnderline"></div>
      <div class="dates">
        <div class="date-label">Day 1</div>
        <div id="mostRecentDate" class="date-label" ng-hide="isAtAnEnd">{{mostRecentDate}}</div>
        <div id="today" class="date-label">Day 30</div>
      </div>
      <ul id="navlist">
        <li><div class="title-font">Total Visits</div> <div class="usage-value">{{totalVisits}} sites</div></li>
        <li></li>
        <li><div class="title-font">Total Views</div> <div class="usage-value">{{totalViews}} pages</div></li>
        <li></li>
        <li><div class="title-font">Weekly Average</div> <div class="usage-value">{{weeklyAvg}} pages</div></li>
        <li></li>
        <li><div class="title-font">Daily Average</div> <div class="usage-value">{{dailyAvg}} pages</div></li>
      </ul>
    </div>
  </div>

  <div id="main-overlay"></div>
  <div id="main-row-background" class="row-fluid">
    <div id="main-row-body">
      <div class="col-sm-3 col-md-2 sidebar">
        <div id="most-visited" class="title-font">Most Visited Sites</div>
        <ol class="nav nav-sidebar">
          <li ng-repeat="item in list">
            <div class="most-visited-site-rank">{{$index + 1}}</div>
            <img class="favicon" ng-src="{{item[2]}}"></img>
            <a ng-href="http://{{item[0]}}">{{item[0]}}</a> <div class="nav-sidebar-info">({{item[1]}}x)</div>
          </li>
        </ol>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-9 main">
        <table id="test" class="row-border" width="100%">
          <thead>
            <tr>
              <th>Rank<div class="sortTriangle"></div></th>
              <th>Category<div class="sortTriangle"></div></th>
              <th></th>
              <th>Recent Activity<div class="sortTriangle"></div></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="mainTable">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal dialog for debug log display. -->
  <div id="debug-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Debug Log</h4>
        </div>
        <div class="modal-body">
          <textarea id="debug-textarea">{{debugLog}}</textarea>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>
</html>
