<!doctype html>
<html ng-app="aboutInterests">
    <head>
        <meta charset="utf-8">
        <title>about:interests</title>
    </head>
    <body ng-cloak>
        <div class="container">
            <div class="navbar">
                <span class="brand">About Your Interests</span>
            </div>
        </div>

        <div class="container content" ng-controller="vizCtrl">
            <div class="dropdowns">
                <select ng-init="selectedType = getTypes()[0]" ng-model="selectedType" ng-options="val for val in getTypes()">
                    <option value="">Select Type</option>
                </select>
                <select ng-init="selectedNamespace = getNamespaces()[0]" ng-model="selectedNamespace" ng-options="val for val in getNamespaces()">
                    <option value="">Select Namespace</option>
                </select>
            </div>
            <div class="btn-group">
                <button class="btn" ng-click="updateGraphs()">Update Graphs</button>
                <button class="btn" ng-disabled='historyComputeInProgress' ng-click="processHistory()">Analyse Full History</button>
            </div>

            <div class="alerts">
                <div ng-show="historyComputeInProgress" ng-hide="historyComputeComplete" class="alert alert-info">
                    <p>Ranking data is being computed. This may take few minutes</p>
                    <div class="progress progress-striped active">
                        <div id="progressBar" class="bar" style="width: 0%;"></div>
                    </div>
                    <p><span class="badge">{{daysLeft}}</span> days of your history remaining</p>
                </div>

                <div ng-show="historyComputeComplete && !rankingAvailable" class="alert alert-info">{{emptyMessage}}</div>
            </div>

            <div class="rankingSection">
                <h2>
                    Top Interests
                </h2>
                <div class="rankingData">
                    <div id="interestsBarChart">
                        <svg style="height: 300px; width: 100%;"></svg>
                    </div>
                    <div id="interestsTimeline">
                        <svg style="overflow: visible; height: 800px; width: 100%;"></svg>
                    </div>
                    <div id="weightIntensityChart">
                        <svg style="overflow: visible; height: 800px; width: 100%;"></svg>
                    </div>
                    <p ng-hide="rankingAvailable || historyComputeInProgress">Ranking data is not available.</p>
                    <p ng-show="historyComputeInProgress" ng-hide="rankingAvailable">processing...</p>
                </div>
            </div>
        </div>
    </body>
</html>
