<!doctype html>
<html ng-app="consentMenu">
    <head>
        <meta charset="utf-8">
        <title>Mozilla Study Consent Form</title>
    </head>
    <body class="sand sandstone-buttons" ng-cloak>
        <div id="outer-wrapper">
            <div id="wrapper" ng-controller="consentCtrl">
                <div id="content">
                    <header id="masthead">
                        <h2>
                            <img alt="Firefox" src="https://mozorg.cdn.mozilla.net/media/img/firefox/new/header-firefox.png?2013-06"></img>
                        </h2>
                    </header>
                    <main id="content-area" role="main">
                        <h2>Personalization Study</h2>
                        <p>Firefox is conducting a study of personalized content on the Web, and as a Test Pilot user, we’d really appreciate your help in completing this quick study.</p>

                        <h2>Contents of the study</h2>
                        <p>Mozilla is researching the potential for Firefox to help users experience a more personalized Web.</p>
                        <p>The study consists of two components:</p>

                        <ol>
                            <li>Topic Matching (automatically completed in background)</li>
                            <li>User Survey (14 questions, 3 minutes to complete)</li>
                        </ol>

                        <h2>How it works</h2>
                        <p>Firefox will choose a set of interest topics that best match the websites in your browsing history. You will then be asked to answer some questions about those topics and your browsing preferences.</p>

                        <p>After completion or 2 months (whichever comes first), the study add-on will remove itself.</p>


                        <h2>Data collection</h2>

                        <p>Our study is both qualitative as well as quantitive. As such, we will ask you a few questions in a survey, but will also collect some data from your browser for later studies.</p>

                        <p>What will be transmitted are:</p>
                        <ul>
                            <li>Your survey responses</li>
                            <li>The interest topics and match strengths (<a href="#" ng-click="openModalPreview()">open preview</a>)</li>
                        </ul>

                        <p>No specific websites or browsing history will be sent, and no personally identifying information is collected or sent to Mozilla.</p>

                        <hr/>

                        <p>Please review our Study Privacy Policy <a href="#">here</a>.</p>

                        <div class="action">
                            <a class="button button-negative" ng-click="rejectStudy()">No</a>
                            <a class="button button-next" ng-click="acceptStudy()">Yes</a>
                        </div>
                    </main>
                </div>
                <script type="text/ng-template" id="dataPreview.html">
                    <div class="modal-header">
                        <h3>Study Data Preview<a class="small button-link" ng-click="selectText()">select text</a></h3>
                    </div>
                    <div class="modal-body">
                        <pre id="previewText">{{dispatchBatch}}</pre>
                    </div>
                    <div class="modal-footer">
                        <a class="button button-next" ng-click="done()">Done</a>
                    </div>
                </script>
            </div>
            <footer id="colophon">
                <div class="row">
                    <div class="footer-logo">
                        <a href="/en-US/">
                            <img alt="mozilla.org" src="https://mozorg.cdn.mozilla.net/media/img/sandstone/footer-mozilla.png"/>
                        </a>
                    </div>
                    <div class="footer-license">
                        <p>Portions of this content are ©1998–2013 by individual mozilla.org contributors. Content available under a <a href="https://www.mozilla.org/en-US/foundation/licensing/website-content/">Creative Commons license</a>.</p>
                        <p><a href="https://www.mozilla.org/en-US/contribute/page/">Contribute to this page</a></p>
                    </div>
                    <ul class="footer-nav">
                        <li><a href="https://www.mozilla.org/en-US/about/contact.html">Contact us</a></li>
                        <li><a href="https://www.mozilla.org/en-US/about/partnerships/">Partner with us</a></li>
                        <li><a href="https://www.mozilla.org/en-US/privacy/">Privacy Policy</a></li>
                        <li><a href="https://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
                        <li><a href="https://www.mozilla.org/en-US/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
