<!doctype html>
<html ng-app="studyDebugMenu">
    <head>
        <meta charset="utf-8">
        <title>UP Study Debug UI</title>
    </head>
    <body ng-cloak>
        <div class="container">
            <div class="navbar">
                <span class="brand">UP Study Debug Menu</span>
            </div>
        </div>

        <div class="container content" ng-controller="studyCtrl">
            <div class="btn-group">
                <button class="btn" ng-disabled='historyComputeInProgress' ng-click="processHistory()">Analyse Full History</button>
                <button class="btn" ng-disabled="dispatchBatchNotSendable" ng-click="dispatchRun()">Dispatch to server</button>
                <button class="btn" ng-disabled="!rankingData" ng-click="runSurvey()">Fill Survey</button>
                <button class="btn" ng-show="(rankingData || dispatchBatch)" ng-click="togglePrettify()">
                    {{ prettifiedOutput && "Uglify" || "Prettify" }} Output
                </button>
                <button class="btn" ng-click="showConsent()">Show Consent Page</button>
            </div>

            <div class="alerts">
                <div ng-show="historyComputeInProgress" ng-hide="historyComputeComplete" class="alert alert-info">
                    <p>Ranking data is being computed. This may take few minutes</p>
                    <div class="progress progress-striped active">
                        <div id="progressBar" class="bar" style="width: 0%;"></div>
                    </div>
                    <p><span class="badge">{{daysLeft}}</span> days of your history remaining</p>
                </div>

                <div ng-show="historyComputeComplete && !rankingData" class="alert alert-info">{{emptyMessage}}</div>

                <div ng-show="dispatchInProgress" ng-hide="dispatchSuccess || dispatchError" class="alert alert-info">Ranking data is being computed</div>
                <div ng-show="dispatchSuccess" ng-hide="dispatchInProgress || dispatchError" class="alert alert-success">Success sending {{dispatchSuccess}} day(s) of data</div>
                <div ng-show="dispatchError" ng-hide="dispatchInProgress || dispatchSuccess" class="alert alert-danger">{{dispatchError}}</div>
            </div>

            <div class="rankingSection">
                <h2>
                    Computed Interests Ranking
                    <div class="btn-group" ng-show="rankingData">
                        <button class="btn btn-link" ng-show="rankingData" ng-click="selectText('.rankingData pre')">select</button>
                    </div>
                </h2>
                <div class="rankingData">
                    <pre ng-show="rankingData">{{rankingData}}</pre>
                    <p ng-hide="rankingData || historyComputeInProgress">Ranking data is not available.</p>
                    <p ng-show="historyComputeInProgress" ng-hide="rankingData">processing...</p>
                </div>
            </div>

            <div class="dispatchSection">
                <h2>
                    Interests Data Dispatch - Current Batch
                    <div class="btn-group" ng-show="dispatchBatch">
                        <button class="btn btn-link" ng-click="selectText('.dispatchData pre')">select</button>
                    </div>
                </h2>
                <div class="dispatchData">
                    <pre ng-show="dispatchBatch">{{dispatchBatch}}</pre>
                    <p ng-hide="dispatchBatch || historyComputeInProgress">Dispatch data is not available.</p>
                    <p ng-show="historyComputeInProgress" ng-hide="dispatchBatch">processing...</p>
                    <small ng-show="dispatchBatchNotSendable"><strong>Note:</strong> Data will not be dispatched because there is no data to be sent.</small>
                </div>
            </div>
        </div>
    </body>
</html>
