[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}
.content { margin-top: 20px; }
.alerts { margin-top: 10px; }

.margin-fix { margin: -30px 0 0 0 !important; }

.navbar, #main-row-background, .navbar-background, table.dataTable tbody tr {
  background-color: #f5f5f5; /* Light grey for top navbar */
}

.navbar {
  border: none;
  border-bottom: #eee;
}

body {
  overflow: hidden; /* To prevent body from scrolling */
}

.visual-header {
  height: 340px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.dataTables_scrollHeadInner, table {
  width: 100% !important;
}

td.details-control {
    background: url('resources/Button_Expand.svg') no-repeat center center;
    cursor: pointer;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
#main-row-body {
  border-top: 1px solid #080808;
}

#main-row-body, .navbar-outer, .visual-header {
  width: 1130px;
  margin: auto;
}

.main .page-header {
  margin-top: 0;
}

.main {
  padding-left: 0px;
  padding-right: 0px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
