[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}
.content { margin-top: 20px; }
.alerts { margin-top: 10px; }

.margin-fix { margin: -60px 0 -48px 0 !important; }

.navbar, #mainrow, table.dataTable tbody tr {
  background-color: #f5f5f5; /* Light grey for top navbar */
}

body {
  padding-top: 50px;
  overflow: hidden; /* To prevent body from scrolling */
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.dataTables_scrollHeadInner, table {
  width: 100% !important;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
#mainrow {
  border-top: 1px solid #080808;
}

.main .page-header {
  margin-top: 0;
}

.col-md-offset-2 {
  margin-left: 17%; /* Adjust this value so the sidebar and table are aligned */
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
